@import "tailwindcss";

/* 1. Pengganti 'content': Memberitahu Tailwind letak file PHP kamu */
@source "../../app/views/**/*.php";

/* 2. Pengganti 'theme': Memasukkan warna custom desain Bantimurung */
@theme {
  --color-primary: #166534;
  --color-secondary: #dcfce7;
  --color-dark: #052e16;
}
